html{
	font-size: 62.5%;
}

.my-auto {
    display: flex;
    flex-direction: column;
    justify-content: center;
  	align-content: center;
}



@media only screen and ( min-width: 1405px ) {
 .sticky-column {
  position: sticky !Important;
  position: -webkit-sticky !Important;
  top: 40px !Important; /* Change the height from the top here */
 }
}
@media only screen and ( min-width: 1100px ) and ( max-width: 1405px) {
 .sticky-column {
  position: sticky !Important;
  position: -webkit-sticky !Important;
  top: 40px !Important; /* Change the height from the top here */
 }
}

/* Euqal Spacing */

.ct-section.equal-inner-spacing-s .ct-section-inner-wrap > * + *,
.equal-inner-spacing-s:not(.ct-section) > * + * {
margin-top: .5vmax;
}

.ct-section.equal-inner-spacing-m .ct-section-inner-wrap > * + *,
.equal-inner-spacing-m:not(.ct-section) > * + * {
margin-top: 1vmax;
}

.ct-section.equal-inner-spacing-l .ct-section-inner-wrap > * + *,
.equal-inner-spacing-l:not(.ct-section) > * + * {
margin-top: 2vmax;
}

.ct-section.equal-inner-spacing-xl .ct-section-inner-wrap > * + *,
.equal-inner-spacing-xl:not(.ct-section) > * + * {
margin-top: 4vmax;
}

.equal-spacing-m > * + * {
    margin-top: 1em;
    }




.ct-section.spacing--xs .ct-section-inner-wrap > * + *,
.spacing--xs:not(.ct-section) > * + * {
	margin-top: .6rem;
}

.ct-section.spacing--s .ct-section-inner-wrap > * + *,
.spacing--s:not(.ct-section) > * + * {
	margin-top: 1rem;
}

.ct-section.spacing--m .ct-section-inner-wrap > * + *,
.spacing--m:not(.ct-section) > * + * {
	margin-top: 2rem;
}

.ct-section.spacing--l .ct-section-inner-wrap > * + *,
.spacing--l:not(.ct-section) > * + * {
	margin-top: 3rem;
}

.ct-section.spacing--xl .ct-section-inner-wrap > * + *,
.spacing--xl:not(.ct-section) > * + * {
	margin-top: clamp(3rem, calc(3rem + ((1vw - 0.32rem) * 3.125)), 6rem);
}

.ct-section.spacing--xxl .ct-section-inner-wrap > * + *,
.spacing--xxl:not(.ct-section) > * + * {
	margin-top: clamp(4rem, calc(4rem + ((1vw - 0.32rem) * 10.4167)), 14rem);
}

.spacing-left--m > * + * {
  margin-left: 2rem;
}




.max-w--320 {
  max-width: 32rem;
}

.max-w--480 {
  max-width: 48rem;
}

.max-w--640 {
  max-width: 64rem;
}

.max-w--720 {
  max-width: 72rem;
}

.max-w--960 {
  max-width: 96rem;
}

.max-w--1120 {
  max-width: 112rem;
}

/* BREAKOUT UTILITY CLASSES */

.breakout--60 {
	width: 60vw;
	max-width: 60vw;
	margin: 0 calc(-30vw + 50%);
}

.breakout--70 {
	width: 70vw;
	max-width: 70vw;
	margin: 0 calc(-35vw + 50%);
}

.breakout--80 {
	width: 80vw;
	max-width: 80vw;
	margin: 0 calc(-40vw + 50%);
}

.breakout--90 {
	width: 90vw;
	max-width: 90vw;
	margin: 0 calc(-45vw + 50%);
}

.breakout--100 {
	width: 100vw;
	max-width: 100vw;
	margin: 0 calc(-50vw + 50%);
}

@media (max-width: 1280px) {
	[class*="breakout--"] {
		width: 100%;
		max-width: 100%;
		margin: 0;
	}
}


