html{
	font-size: 62.5%;
}

.my-auto {
    display: flex;
    flex-direction: column;
    justify-content: center;
  	align-content: center;
}



@media only screen and ( min-width: 1405px ) {
 .sticky-column {
  position: sticky !Important;
  position: -webkit-sticky !Important;
  top: 40px !Important; /* Change the height from the top here */
 }
}
@media only screen and ( min-width: 1100px ) and ( max-width: 1405px) {
 .sticky-column {
  position: sticky !Important;
  position: -webkit-sticky !Important;
  top: 40px !Important; /* Change the height from the top here */
 }
}

/* Euqal Spacing */

.ct-section.equal-inner-spacing-s .ct-section-inner-wrap > * + *,
.equal-inner-spacing-s:not(.ct-section) > * + * {
margin-top: .5vmax;
}

.ct-section.equal-inner-spacing-m .ct-section-inner-wrap > * + *,
.equal-inner-spacing-m:not(.ct-section) > * + * {
margin-top: 1vmax;
}

.ct-section.equal-inner-spacing-l .ct-section-inner-wrap > * + *,
.equal-inner-spacing-l:not(.ct-section) > * + * {
margin-top: 2vmax;
}

.ct-section.equal-inner-spacing-xl .ct-section-inner-wrap > * + *,
.equal-inner-spacing-xl:not(.ct-section) > * + * {
margin-top: 4vmax;
}

.equal-spacing-m > * + * {
    margin-top: 1em;
    }




.ct-section.spacing--xs .ct-section-inner-wrap > * + *,
.spacing--xs:not(.ct-section) > * + * {
	margin-top: .6rem;
}

.ct-section.spacing--s .ct-section-inner-wrap > * + *,
.spacing--s:not(.ct-section) > * + * {
	margin-top: 1rem;
}

.ct-section.spacing--m .ct-section-inner-wrap > * + *,
.spacing--m:not(.ct-section) > * + * {
	margin-top: 2rem;
}

.ct-section.spacing--l .ct-section-inner-wrap > * + *,
.spacing--l:not(.ct-section) > * + * {
	margin-top: 3rem;
}

.ct-section.spacing--xl .ct-section-inner-wrap > * + *,
.spacing--xl:not(.ct-section) > * + * {
	margin-top: clamp(3rem, calc(3rem + ((1vw - 0.32rem) * 3.125)), 6rem);
}

.ct-section.spacing--xxl .ct-section-inner-wrap > * + *,
.spacing--xxl:not(.ct-section) > * + * {
	margin-top: clamp(4rem, calc(4rem + ((1vw - 0.32rem) * 10.4167)), 14rem);
}

.spacing-left--m > * + * {
  margin-left: 2rem;
}




.max-w--320 {
  max-width: 32rem;
}

.max-w--480 {
  max-width: 48rem;
}

.max-w--640 {
  max-width: 64rem;
}

.max-w--720 {
  max-width: 72rem;
}

.max-w--960 {
  max-width: 96rem;
}

.max-w--1120 {
  max-width: 112rem;
}

/* BREAKOUT UTILITY CLASSES */

.breakout--60 {
	width: 60vw;
	max-width: 60vw;
	margin: 0 calc(-30vw + 50%);
}

.breakout--70 {
	width: 70vw;
	max-width: 70vw;
	margin: 0 calc(-35vw + 50%);
}

.breakout--80 {
	width: 80vw;
	max-width: 80vw;
	margin: 0 calc(-40vw + 50%);
}

.breakout--90 {
	width: 90vw;
	max-width: 90vw;
	margin: 0 calc(-45vw + 50%);
}

.breakout--100 {
	width: 100vw;
	max-width: 100vw;
	margin: 0 calc(-50vw + 50%);
}

@media (max-width: 1280px) {
	[class*="breakout--"] {
		width: 100%;
		max-width: 100%;
		margin: 0;
	}
}



.acf-button.button {
display: inline-block;
text-decoration: none;
font-size: 13px;
line-height: 2.15384615;
min-height: 30px;
margin: 0;
padding: 0 10px;
cursor: pointer;
border-width: 1px;
border-style: solid;
-webkit-appearance: none;
border-radius: 3px;
white-space: nowrap;
box-sizing: border-box;
background: #2271b1;
border-color: #2271b1;
color: #fff;
text-decoration: none;
text-shadow: none;
min-height: 32px;
line-height: 2.30769231;
padding: 0 12px;
}

.acf-button.button:hover {
    background: #135e96;
border-color: #135e96;
color: #fff;
}



.acf-field p.description {
 word-break:break-word;
 font-size: 12px;
 color: #9d9d9d;
}


.acf-icon.-pencil.dark {
  display: none !important;
}

.active {
}

.acf-tab-button {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.acf-tab-group .active .acf-tab-button {
  background-color: var(--primary-color) !important;
  color: white;
}

.acf-tab-button {
  background-color: white !important;
  color: var(--primary-color) !important;
}

.acf-tab-group .active .acf-tab-button {
  /* color: white; */
  color: white !important;
}

.acf-tab-button {
  border-bottom: 0px !important;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}

.acf-hl.acf-tab-group {
  background-color: transparent !important;
}

.acf-tab-wrap.-top {
  background: transparent !important;
}

.acf-tab-wrap.-top {
  border-bottom: 0px !important;
}

.acf-hl.acf-tab-group {
  border-bottom: 0px;
}

/* acf-input.css | https://electrician.byblostech.com/wp-content/plugins/advanced-custom-fields-pro/assets/css/acf-input.css?ver=5.9.5 */

.acf-tab-group li {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.acf-fields > .acf-tab-wrap .acf-tab-group {
  /* border-bottom: #ccd0d4 solid 1px; */
  border-bottom: none;
}

.acf-tab-group li a {
  /* border: #ccc solid 1px; */
}
textarea, input {
    border: 1px solid #ced4da;
    border-radius: 4px;
}


